html {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 10px;
}

/***
	for home.html css 
	begin
***/

.body-home {
	background-color: #01040e;
    color: #dae3eb; 
}

button {
	border: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.head-block {
	background-image: url(../images/solar.svg);
	background-repeat: no-repeat;
	background-position: top center;
	padding: 220px 0 170px;
}

.head-title {
	text-align: center;
}

.head-title h1 {
	margin: 0.55rem 0 0.2rem;
	color: #ffffff;
	font-size: 8rem;
	font-weight: 900;
	letter-spacing: 0.3rem;
}

.head-title h3 {
	margin: 1.5rem 0;
	color: #dae3eb;
	font-size: 3.6rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

.head-title h3 span {
	color: #c02026;
	font-size: 4.8rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

.head-buttons {
	margin: 130px auto 0;
	text-align: center;
}

.head-buttons a:first-child {
	margin-right: 43px;
}

.button {
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	padding: 17px 80px 18px;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.15rem;
}

.button-primary {
	color: #ffffff;
	background-color: #a31310;
}

.button-primary:hover {
	visibility: visible;  
	-webkit-transform: translateY(0) scale(1); 
	opacity: 1;
	transform: translateY(0) scale(1); 
	opacity: 1;
	-webkit-transition: background-color 0.2s ease 0s, transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: background-color 0.2s ease 0s, transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.button-white {
	color: #000000;
	background-color: #ffffff;
	padding-left:58px;
	padding-right:57px;
}

.block-title {
	text-align: center;
	margin-top: 80px;
}

.block-title h2 {
	margin: 30px 0;
	font-size: 4.8rem;
	font-weight: 600;
	color: #dae3eb;
	letter-spacing: 0.2rem;
}

.block-title h2 span {
	color: #c02026;
}

.block-title h3 {
	margin: 20px 0;
	font-size: 3.2rem;
	font-weight: 500;
	color: #c02026;
	letter-spacing: 0.15rem;
}

.block-title h4 {
	margin: 10px 0;
	font-size: 2.4rem;
	font-weight: 500;
	color: #dae3eb;
	letter-spacing: 0.1rem;
}

.block-title h4 span {
	color: #c02026;
}

.block-title h2, .block-title div {
	display: inline-block;
	vertical-align: middle;
}

#circle {
width: 48px;
height: 48px;
text-align: center;
border-radius: 24px;
/*-webkit-border-radius: 10px;*/
/*-moz-border-radius: 100px;*/
border:6px red solid;
}

.block-words {
	text-align: center;
}

.block-words p {
	display:inline-block;
	color: #dae3eb;
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 3.6rem;
	text-align: left;
}

.block-words p span {
	color: #c02026;
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-align: left;
}

.block-img {
	position: relative;
}

.block-img-1 {
	height: 200px;
}

.block-img .img-ast {
	position: absolute;
	left: 28%;
	width: 90px;
	height: 166px;
	content: url('../images/astronaut.png');
	z-index: 99;
}

.block-img .img-line-left {
	position: absolute;
	left: 0;
	top: 98px;
	width: 100%;
}

.img-line-left .line {
	float: left;
	width: 38%;
	height: 11px;
	background-image: url(../images/line.svg);
	background-position: 0 10px;
	background-repeat: repeat-x;
}

.img-line-left .light-circle {
	float: left;
	width: 23px;
	height: 23px;
	background-image: url(../images/lightcircle.svg);
	background-position: 0 0;
	background-size: 23px 23px;
	background-repeat: no-repeat;

}

.block-img .img-line-left2 {
	position: absolute;
	left: 0;
	width: 100%;
}

.img-line-left2 .line {
	float: left;
	width: 23%;
	height: 11px;
	background-image: url(../images/line.svg);
	background-position: 0 6px;
	background-repeat: repeat-x;
}

.img-line-left2 .light-circle {
	float: left;
	width: 14px;
	height: 14px;
	background-image: url(../images/lightcircle.svg);
	background-position: 0 0;
	background-size: 14px 14px;
	background-repeat: no-repeat;

}

.block-img .img-line-right {
	position: absolute;
	top: -80px;
	width: 100%;
}

.img-line-right .line {
	float: right;
	width: 22%;
	height: 11px;
	background-image: url(../images/line.svg);
	background-position: 0 8px;
	background-repeat: repeat-x;
}

.img-line-right .light-circle {
	float: right;
	width: 18px;
	height: 18px;
	background-image: url(../images/lightcircle.svg);
	background-position: 0 0;
	background-size: 18px 18px;
	background-repeat: no-repeat;

}

.block-relative {
	position: relative;
}

.block-img.img-planet {
	position: absolute;
	right: 180px;
	top: 70px;
	width: 351px;
	height: 351px;
	background-image: url(../images/planet.png);
}

.block {
	margin: 200px 0 100px;
	text-align: center;
}

.block-border1 {
	width:auto; 
	display:inline-block !important; 
	display:inline; 
	padding: 12px 10px;
	border: 1px solid #dae3eb;
}

.block-border2 {
	width:auto; 
	display:inline-block !important; 
	display:inline; 
	padding: 22px 40px 24px;
	border: 1px solid #dae3eb;
}

.block-border2 .block-words p {
	margin: 0;
}

.block-img.img-alien {
	height: 130px;
	background-image: url(../images/alien.png);
	background-position: center 0;
	background-size: 93px 130px;
	background-repeat: no-repeat;
}

.block-chart {
	margin: 90px 0 60px;
	width: 100%;
	padding: 0 8%;
}

.block-chart-item {
	float: left;
	width:33%;
	padding-left:20px;
	box-sizing:border-box;
}

.block-chart-item .img-chart1 {
	height: 80px;
	background-image: url(../images/chart1.png);
	background-size: 72px 72px;
	background-position: center center;
	background-repeat: no-repeat;
}

.block-chart-item .img-chart2 {
	height: 80px;
	background-image: url(../images/chart2.png);
	background-size: 81px 65px;
	background-position: center center;
	background-repeat: no-repeat;
}

.block-chart-item .img-chart3 {
	height: 80px;
	background-image: url(../images/chart3.png);
	background-size: 78px 54px;
	background-position: center center;
	background-repeat: no-repeat;
}

.block-chart-item .chart-title {
	margin-top: 30px;
	text-align: center;
	color: #ffffff;
	font-size: 2.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

.block-chart-item .chart-words {
	text-align: center;
	width: 120px;
	margin: 12px auto 0;
	line-height: 2.4rem;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

.block-img.img-border{	
	margin-top: 90px;
	margin-bottom: 100px;
	padding-top: 50px;
	width: 100%;
	height: 376px;
	text-align: center;
	background-image: url(../images/imgborder.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 536px 376px;
}

.foot-block {
	margin: 220px 10% 155px;
}

.above-line {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.above-line .line {
	display: table-cell;
	width: 100%;
	background-image: url(../images/line.svg);
	background-position: 0 17px;
	background-repeat: repeat-x;
}

.above-line .circle {
	display: table-cell;
	margin: 0 12px;
	width: 59px;
	height: 35px;
	background-image: url(../images/lightcircle.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}

.bottom-line .line {
	width: 100%;
	height: 1px;
	background-image: url(../images/line.svg);
	background-position: 0 0;
	background-repeat: repeat-x;
}

.foot-content {
	margin: 30px 0 75px;
}

.ft-content-left {
	float: left;
}

.content-line {
	display: table;
	table-layout: auto;
}

.content-line .content-we {
	display: table-cell;
	margin-top: 30px;
	height: 67px;
	background-image: url(../images/logored.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 52px 67px;
}

.content-line .content-we .wename {
	margin-left: 75px;
	line-height: 67px;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
}

.content-line .content-ins {
	margin-left: 80px;
	width: 156px;
	height: 18px;
	box-sizing: border-box;
	background-image: url(../images/ins.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 156px 18px;
}

.content-line .content-link {
	margin-top: 35px;
}

.content-line .content-link span {
	line-height: 1rem;
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

.content-line .content-link span:last-child {
	margin-left: 80px;
}

.ft-content-right {
	float: right;
}

.content-line .content-contact {
	line-height: 67px;
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

.content-line .content-copyright {
	margin-top: 28px;
	color: #a6a9ad;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}
/***
	for home.html css 
	end
***/

