html {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 10px;
}

body {
	line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 10px;
    overflow: hidden;
    background: transparent;
}

a, abbr, acronym, address, applet, big, blockquote, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}


/** index page begin**/
.index-page {
	display: flex;
}

/****left1 begin****/
/***
.main-menu {
    flex-shrink: 0;
    width: 72px;
	background-color: #1e2124;
	overflow: hidden;
}

.main-menu-scroller {
	overflow-y: scroll;
    overflow-x: hidden;
    min-height: 1px;
    max-height: 100vh;
}

.main-menu-wrapper {
	padding-right: 4px;
	width: 90px;
}

.flex-vertical {
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.flex-grow1 {
	flex: 1;
}

.logo-index {
	background-image: url(../images/logo-temp.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	margin: 30px 0 30px;
	padding: 28px;
}


.sight-bar > div, .operation-bar > div , .system-bar > div {
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgba(66,67,72,0.8);
	border-radius: 25px;
	width: 50px;
	height: 50px;
	margin: 25px auto;
	transition: border-radius 0.5s ease-in;
}

.sight-bar .file-sight {
	background-color: rgba(47,49,54,0.8);
	background-image: url(../images/file-sight-icon.svg);
}

.sight-bar .file-sight:hover {
	background-image: url(../images/file-sight-icon-selected.svg);
	background-color: rgba(67,70,74,0.8);
	border: 1px solid rgba(82,84,88,0.8);
	border-radius: 8px;
}

.sight-bar .topo-sight {
	background-color: rgba(47,49,54,0.8);
	background-image: url(../images/topo-sight-icon-selected.svg);
}

.sight-bar .time-sight {
	background-color: rgba(47,49,54,0.8);
	background-image: url(../images/time-sight-icon.svg);
}

.main-menu .main-menu-separate-line {
	width: 30px;
	height: 2px;
	background-color: #4b4d4f;
}

.main-menu .main-menu-separate-short-line {
	width: 15px;
	height: 2px;
	background-color: #4b4d4f;
}

.main-menu-icon-search {
	background-color: rgba(47,49,54,0.8);
	margin-top: 0;
	background-image: url(../images/search-icon.svg);
}

.main-menu-icon-setting {
	background-color: rgba(47,49,54,0.8);
	background-image: url(../images/setting-icon.svg);
}

.main-menu-icon-user {
	background-image: url(../images/portrait.png),radial-gradient(circle at center, #929292 0, #d9d9d9 70%, #eeeeee 100%);
	##background-color: rgba(184,184,184,0.8);
	border: 1px solid rgba(21,25,28,0.8);
	margin-bottom: 20px;
}
**/

.main-menu {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main-menu-wrapper {
    width: 72px;
    height: 100vh;
    background-color: #1e2124;
	overflow: hidden;
}

.main-menu-bar {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    min-height: 0px;
}

.main-menu-system-bar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.flex-vertical {
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.flex-grow1 {
	flex: 1;
}

.logo-index {
	background-image: url(../images/logo-temp.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	margin: 30px 0 30px;
	padding: 28px;
}


.sight-bar > div, .operation-bar > div , .main-menu-system-bar > div {
	background-repeat: no-repeat;
	background-position: center center;
	##border: 1px solid rgba(66,67,72,0.8);
	border-radius: 25px;
	width: 50px;
	height: 50px;
	margin: 25px auto;
	transition: all 0.5s ease-in;
}

.sight-bar .file-sight {
	border: 1px dashed rgba(170,171,174,0.8);
	/*background-color: rgba(47,49,54,0.8);
	background-image: url(../images/file-sight-icon.svg);*/
	/*background-image: url(../images/book.svg);
	background-size: 38px;*/
	text-align: center;
}

#file-sight-svg {
	width: 38px;
	height: auto;
}

.sight-bar .file-sight:hover {
	background-color: #000;/*rgba(9,9,198,0.6);*/
	border: 0;
	border-radius: 12px;
}

.sight-bar .file-sight:hover #file-sight-movepath {
	animation-delay: 2s;
	animation: path 1.3s infinite ease-in;
}

@keyframes path {
	20% {
		d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875S49.875,11.164,60.875,9.748');
	}
	50% {
		d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875S43.458,6.496,51.041,3.081');
	}
	55% {
		d:path('M35.812,0.553v26.112c0,0-20.188-8.511-29.812-8.875');
	}
	65% {
		d:path('M6,18.154c12.285,0.178,28.458,8.011,28.458,8.011S27.625,5.413,20.375,3.081');
	}
	80% {
		d:path('M6,18.154c10.626,0,27.029,7.579,27.029,7.579S24.708,12.416,11.958,9.748');
	}
	90% {
		d:path('M6,18.154c14.229,0,29.812,8.511,29.812,8.511');
	}
	100% {
		d:path('M6,18.154c12.285,0.178,29.812,8.875,29.812,8.875s17.938-8.875,29.312-8.867');
	}
}

.sight-bar .topo-sight {
	border: 1px dashed rgba(170,171,174,0.8);
	/*background-color: rgba(47,49,54,0.8);
	background-image: url(../images/planet.svg);
	background-size: 42px;*/
	overflow: hidden;
	text-align: center;
}

.sight-bar .topo-sight:hover {
	background-color: #000;/*rgba(9,9,198,0.6);*/
	border: 0;
	border-radius: 12px;
}

#topo-sight-svg {
	width: 42px;
	height: auto;
	padding-top: 2px;
}

@keyframes topo-sight-move {
	65% {
		transform: rotateZ(50deg) translateX(30px) translateY(-40px) scale(0.6,0.6);
	}
	70% {
		transform: rotateZ(50deg) translateX(35px) translateY(-40px) scale(0.6,0.6);
	}
	80% {
		transform: rotateZ(30deg) translateX(-20px) translateY(-60px) scale(0.5,0.5);
	}
	85% {
		transform: rotateZ(10deg) translateX(-50px) translateY(-80px) scale(0.4,0.4);
	}
		
}

.sight-bar .topo-sight:hover #topo-sight-svg-planet { 
	animation: topo-sight-move 3.5s cubic-bezier(.5,.1,.32,1);
	animation-iteration-count: infinite;
}

@keyframes topo-sight-planet-star-move {
	
    100% {
    	offset-distance: 100%;
    	transform: scale(0.6,0.6);
    }
}
.sight-bar .topo-sight:hover #topo-sight-planet-star { 
	cx: 0;
	cy: 0;
  	offset-path: path('M43.642,3.58c22.139,0,40.084,17.377,40.084,38.812c0,21.436-17.945,38.813-40.084,38.813c-22.137,0-40.083-17.377-40.083-38.813c0-15.721,18.667-89.637,5.667-99.972');
  	animation: topo-sight-planet-star-move 3.5s cubic-bezier(.5,-.1,.4,.5) infinite;/*cubic-bezier(1,.1,.32,.5)*/
}


@keyframes topo-sight-planet-path1-move {
	transform: rotate(-20deg);
}
.sight-bar .topo-sight:hover #topo-sight-planet-path1 {
	animation: topo-sight-planet-path1-move 3.5s linear infinite;
}


.sight-bar .time-sight {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border: 1px dashed rgba(170,171,174,0.8);
	/*background-color: rgba(47,49,54,0.8);
	background-image: url(../images/time-sight-icon.svg);
	background-image: url(../images/flash-star.svg);
	background-size: 48px;*/
}

.sight-bar .time-sight:hover {
	background-color: #000;/*rgba(9,9,198,0.6);*/
	border: 0;
	border-radius: 12px;
}

.sight-bar .time-sight:hover .time-sight-static{
	display: none;
}

@keyframes time-sight-dash {
	to {
	stroke-dashoffset: 300;
	}
}



#time-sight-path1 {
	display: none;
}

.sight-bar .time-sight:hover #time-sight-path1 {
	display: block;
	stroke-dasharray: 60;
	animation: time-sight-dash 1.5s linear reverse;
	animation-iteration-count: infinite;
	transition-delay: 0.5s;
}

#time-sight-path2 {
	display: none;
}

.sight-bar .time-sight:hover #time-sight-path2 {
	display: block;
	stroke-dasharray: 40;
	animation: time-sight-dash 1.2s linear;
	animation-iteration-count: infinite;
	transition-delay:0.8s;
}

.time-sight-short-path {
	display: none;
}

.sight-bar .time-sight:hover .time-sight-short-path {
	display: block;
}

.sight-bar .time-sight:hover #time-sight-short-path1 {
	stroke-dasharray: 15 50;
	animation: time-sight-dash 3s linear reverse;
	animation-iteration-count: infinite;
	transition-delay:0.2s;
}

.sight-bar .time-sight:hover #time-sight-short-path2 {
	stroke-dasharray: 30 50;
	animation: time-sight-dash 3s linear reverse;
	animation-iteration-count: infinite;
	transition-delay:0.1s;
}

.sight-bar .time-sight:hover #time-sight-short-path3 {
	stroke-dasharray: 10 50;
	animation: time-sight-dash 4s linear reverse;
	animation-iteration-count: infinite;
	transition-delay:0.5s;
}

.sight-bar .time-sight:hover #time-sight-short-path4 {
	stroke-dasharray: 8 50;
	animation: time-sight-dash 3s linear reverse;
	animation-iteration-count: infinite;
	transition-delay:0.6s;
}

.sight-bar .time-sight:hover .time-sight-icon-core {
	animation: flash-star-buzz 1s linear;
	animation-iteration-count: infinite;
	transition-delay: 16s;
}

@keyframes time-sight-wave-move {
	0% {
		d:path('M31.702,35.764l12.355-12.405c1.014-1.016,3.17-1.157,4.41,0.059l0,0c1.338,1.315,1.195,3.135,0,4.331 M48.455,46.56L55,39.164c1.299-1.3,1.365-3.341,0.146-4.559l0,0c-1.219-1.219-3.26-1.153-4.559,0.147 M48.467,27.749L37.004,39.377c-1.299,1.299-1.363,3.342-0.145,4.561l0,0c1.221,1.22,3.262,1.155,4.561-0.145l9.247-9.112 M48.697,46.292c-1.299,1.299-1.357,3.35-0.127,4.578l0,0c1.229,1.229,3.121,1.454,4.422,0.155 M55.258,56.796L71.38,40.962c1.299-1.3,1.342-3.365,0.092-4.613l0,0c-1.248-1.249-3.314-1.208-4.613,0.092L52.836,51.018 M55.258,56.796c-1.301,1.299-1.334,3.373-0.074,4.631l0,0c1.258,1.26,3.332,1.227,4.631-0.072l11.687-11.718 M64.417,66.372l20.887-20.911c1.301-1.301,1.273-3.434-0.059-4.766l0,0c-1.332-1.332-3.465-1.357-4.764-0.059L59.803,61.345');
	}
	30% {
		d:path('M31.6,35.764l6.295-6.345c1.014-1.016,3.17-1.157,4.41,0.059l0,0c1.338,1.315,1.195,3.135,0,4.331 M54.663,39.379l6.897-6.877c1.299-1.3,1.365-3.341,0.146-4.559l0,0c-1.219-1.219-3.26-1.153-4.559,0.147 M42.305,33.809l-5.403,5.568c-1.299,1.299-1.363,3.342-0.145,4.561l0,0c1.221,1.22,3.262,1.155,4.562-0.145L57.227,28.02 M54.663,39.379c-1.299,1.299-1.357,3.35-0.127,4.578l0,0c1.229,1.229,3.277,1.172,4.578-0.127 M55.157,56.796l21.846-21.557c1.299-1.3,1.342-3.365,0.092-4.613l0,0c-1.248-1.249-3.314-1.208-4.613,0.092L58.772,44.137 M55.157,56.796c-1.301,1.299-1.334,3.373-0.074,4.631l0,0c1.258,1.26,3.332,1.227,4.631-0.072L71.4,49.637 M64.315,66.372L76.212,54.45c1.301-1.301,1.273-3.434-0.059-4.766l0,0c-1.332-1.332-3.465-1.357-4.764-0.059l-11.688,11.72');
	}
	80% {
		d:path('M34.441,33.045l6.295-6.345c1.196-1.196,3.213-1.137,4.41,0.059l0,0c1.196,1.196,1.196,3.135,0,4.331 M54.697,39.412l11.342-11.341c1.299-1.3,1.365-3.341,0.146-4.559l0,0c-1.219-1.219-3.26-1.153-4.559,0.147 M45.167,31.113l-8.264,8.264c-1.299,1.299-1.364,3.342-0.145,4.561l0,0c1.22,1.22,3.262,1.155,4.561-0.145l20.307-20.134 M54.664,39.379c-1.3,1.299-1.357,3.35-0.128,4.578l0,0c1.229,1.229,3.278,1.172,4.578-0.127 M55.167,56.808l12.355-12.355c1.299-1.3,1.341-3.365,0.092-4.613l0,0c-1.248-1.249-3.314-1.208-4.613,0.092l-3.894,3.894 M55.157,56.796c-1.3,1.299-1.333,3.373-0.074,4.631l0,0c1.259,1.26,3.333,1.227,4.632-0.072l5.047-5.047 M64.315,66.372l5.259-5.251c1.3-1.301,1.273-3.434-0.059-4.766l0,0c-1.332-1.332-3.465-1.357-4.764-0.059l-5.05,5.049');
	}
	100% {
		d:path('M31.702,35.764l12.355-12.405c1.014-1.016,3.17-1.157,4.41,0.059l0,0c1.338,1.315,1.195,3.135,0,4.331 M48.455,46.56L55,39.164c1.299-1.3,1.365-3.341,0.146-4.559l0,0c-1.219-1.219-3.26-1.153-4.559,0.147 M48.467,27.749L37.004,39.377c-1.299,1.299-1.363,3.342-0.145,4.561l0,0c1.221,1.22,3.262,1.155,4.561-0.145l9.247-9.112 M48.697,46.292c-1.299,1.299-1.357,3.35-0.127,4.578l0,0c1.229,1.229,3.121,1.454,4.422,0.155 M55.258,56.796L71.38,40.962c1.299-1.3,1.342-3.365,0.092-4.613l0,0c-1.248-1.249-3.314-1.208-4.613,0.092L52.836,51.018 M55.258,56.796c-1.301,1.299-1.334,3.373-0.074,4.631l0,0c1.258,1.26,3.332,1.227,4.631-0.072l11.687-11.718 M64.417,66.372l20.887-20.911c1.301-1.301,1.273-3.434-0.059-4.766l0,0c-1.332-1.332-3.465-1.357-4.764-0.059L59.803,61.345');
	}
}

.sight-bar .time-sight:hover #time-sight-wave {
	animation: time-sight-wave-move 1.5s ease-in-out;
	animation-iteration-count: infinite;
	/*keyTimes="0;.3;.8;1"
	calcMode="spline"  keySplines=".5 0 .5 1;.5 0 .5 1;.5 0 .5 1"*/
}


.main-menu .main-menu-separate-line {
	width: 30px;
	height: 2px;
	background-color: #4b4d4f;
}

.main-menu .main-menu-separate-short-line {
	width: 15px;
	height: 2px;
	background-color: #4b4d4f;
}

.main-menu-icon-search {
	border: 1px dashed rgba(170,171,174,0.8);
	margin-top: 0;
	/*background-image: url(../images/search-icon.svg);
	background-position: center center;
	background-image: url(../images/search-telescope.svg);
	background-size: 40px;*/
	overflow: hidden;
	text-align: center;
}

.main-menu-icon-search:hover {
	background-color: #000;/*rgba(9,9,198,0.6);*/
	border: 0;
	border-radius: 12px;
}

#search-sight-svg {
	width: 38px;
	height: auto;
	margin-top: 4px;
}

@keyframes search-telescope-move {
	/*50% {
		transform:rotateY(-30deg)  translateX(8px);
	}*/
	100% {
		transform: rotateZ(-15deg) translateX(-10px) translateY(10px);
	}
}

@keyframes search-telescope-top-scale {
	100% {
		transform: scale(1.3,1.3) translateX(-55px) translateY(25px);
	}
}

@keyframes search-telescope-sky {
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes search-telescope-flash {
	50% {
		transform: translateX(-84px) translateY(-57px) scale(2,2);
	}
}
@keyframes search-telescope-flash2 {
	30% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.1;
	}
}

@keyframes search-telescope-ship-move {
	/*5% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.8;
		transform: translateX(30px) translateY(-10px) rotateZ(30deg);
	}
	25% {
		opacity: 1;
		transform: translateX(40px) translateY(-4px) rotateZ(35deg) scale(1.2,1.2);
	}*/
	35% {
		opacity: 1;
		transform: translateX(45px) translateY(-7px) rotateZ(35deg) scale(1.3,1.3);
	}
	80% {
		opacity: 1;
		transform: rotate(30deg) translateX(30px) translateY(-30px) scale(1.5,1.5);
	}
	100% {
		opacity: 1;
		transform: translateX(150px) translateY(-20px) rotateZ(30deg) rotate(-3deg) scale(3,3);
	}
}

@keyframes search-telescope-ship-light-flash {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.main-menu-icon-search:hover #search-telescope {
	animation: search-telescope-top-scale 0.6s linear;
	/*animation-delay:0.5s;*/
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}
.main-menu-icon-search:hover #search-telescope-top {
	animation: search-telescope-move 0.5s linear;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

.main-menu-icon-search:hover #search-telescope-ship {
	animation: search-telescope-ship-move 3.5s cubic-bezier(.94,-0.25,.32,1.31);
	animation-delay: 0.5s;
	animation-iteration-count: infinite; 
	animation-fill-mode: forwards;
}
.main-menu-icon-search:hover #search-telescope-ship-light1 {
	animation: search-telescope-ship-light-flash 0.8s linear;
	animation-delay: 0.5s;
	animation-iteration-count: infinite; 
}
.main-menu-icon-search:hover #search-telescope-ship-light2 {
	animation: search-telescope-ship-light-flash 0.8s linear;
	animation-delay: 1s;
	animation-iteration-count: infinite; 
}
.main-menu-icon-search:hover #search-telescope-ship-light3 {
	animation: search-telescope-ship-light-flash 0.5s linear;
	animation-delay: 1.5s;
	animation-iteration-count: infinite; 
}

#search-telescope-stars {
	opacity: 0;
}

#search-telescope-ship {
	opacity: 0;
}

.main-menu-icon-search:hover #search-telescope-stars{
	animation: search-telescope-sky 2s linear;
	/*animation-delay:1s;*/
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

.main-menu-icon-search:hover #search-telescope-stars1{
	animation: search-telescope-flash 2.5s linear;
	/*animation-delay:1.5s;*/
	animation-iteration-count: infinite; 
}

.main-menu-icon-search:hover #search-telescope-stars2{
	animation: search-telescope-flash2 2s linear;
	/*animation-delay:2s;*/
	animation-iteration-count: infinite; 
}

.main-menu-icon-setting {
	background-color: rgba(47,49,54,0.8);
	background-image: url(../images/setting-icon.svg);
}

.main-menu-icon-user {
	background-image: url(../images/portrait.png),radial-gradient(circle at center, #929292 0, #d9d9d9 70%, #eeeeee 100%);
	border: 1px solid rgba(21,25,28,0.8);
	margin-bottom: 20px;
}

/****left1 end****/

/*****left2 begin*****/

.index-widgets {
	/*flex-shrink: 0;*/
	display: flex;
	flex-direction: column;
	width: 310px;
	height: 100vh;
	background-color: #2f3136;
} 

.widgets-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1 1 auto;
	min-height: 0px;
}

.widgets-btns-bar {
	flex-shrink: 0;
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

.widgets-btns {
	display: flex;
	align-items: center;
	margin-left: 13px;
	margin-right: 18px;
	height: 100%;
}

.widgets-btns>div {
	width: 30px;
	height: 30px;
	margin-left: 3px;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-position: center center;
}

/*.widgets-btn-selected {
	background-color: rgba(37,39,42,0.5);
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
}*/

.widgets-btn-topo {	
	background-image: url(../images/topo-btn.svg);
	background-position: center center;
}

.widgets-btn-topo:hover {
	background-color: rgba(66,70,77,0.5);/*rgba(37,39,42,0.5);*/
	border-radius: 8px;
	background-image: url(../images/topo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-topo:active {
	background-color: rgba(66,70,77,1);/*rgba(37,39,42,0.5);*/
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	box-shadow: inset 0 1px 2px rgba(34,37,41,0.8);
	background-image: url(../images/topo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-topo-selected {
	/*background-color: rgba(66,70,77,1);/*rgba(37,39,42,0.5);*/
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	background-image: url(../images/topo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-usual {
	background-image: url(../images/usual-btn.svg);
	background-position: center center;
}

.widgets-btn-usual:hover {
	background-color: rgba(66,70,77,0.5);/*rgba(37,39,42,0.5);*/
	border-radius: 8px;
	background-image: url(../images/usual-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-usual:active {
	background-color: rgba(66,70,77,1);/*rgba(37,39,42,0.5);*/
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	box-shadow: inset 0 1px 2px rgba(34,37,41,0.8);
	background-image: url(../images/usual-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-usual-selected  {
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	background-image: url(../images/usual-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-todo {
	background-image: url(../images/todo-btn.svg);
	background-position: center center;
}

.widgets-btn-todo:hover {
	background-color: rgba(66,70,77,0.5);/*rgba(37,39,42,0.5);*/
	border-radius: 8px;
	background-image: url(../images/todo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-todo:active {
	background-color: rgba(66,70,77,1);/*rgba(37,39,42,0.5);*/
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	box-shadow: inset 0 1px 2px rgba(34,37,41,0.8);
	background-image: url(../images/todo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-todo-selected {
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	background-image: url(../images/todo-btn-selected.svg);
	background-position: center center;
}

.widgets-btn-chart {
	background-image: url(../images/chart-btn.svg);
}

.widgets-btn-chart:hover {
	background-color: rgba(66,70,77,0.5);/*rgba(37,39,42,0.5);*/
	border-radius: 8px;
	background-image: url(../images/chart-btn-selected.svg);
}

.widgets-btn-chart:active {
	background-color: rgba(66,70,77,1);/*rgba(37,39,42,0.5);*/
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	box-shadow: inset 0 1px 2px rgba(34,37,41,0.8);
	background-image: url(../images/chart-btn-selected.svg);
}

.widgets-btn-chart-selected {
	border: 1px solid rgba(170,171,174,0.4);
	border-radius: 8px;
	background-image: url(../images/chart-btn-selected.svg);
	background-position: center center;
}

.widgets-btns-bar-bottom {
	display: flex;
	align-items: flex-start;
	margin-left: 13px;
	margin-right: 18px;
	height: 1px;
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

/*added by dean: add a div above widgets-content-btns-bar and widgets-content-main */
.widgets-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1 1 auto;
	min-height: 0px;
}

.widgets-content-btns-bar {
	display: flex;
	justify-content: flex-end;
	flex-shrink: 0;
	align-items: center;
	height: 50px;
	margin-right: 20px;
}

.widgets-content-btn-zoom {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: rgba(37,39,42,0.5);
}

.small-grey-plus {
	background-image: url(../images/small-grey-plus.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.small-grey-minus {
	background-image: url(../images/small-grey-minus.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.widgets-content-btns-separateline {
	width: 16px;
	height: 1px;
	background-color: rgba(62,65,70, 0.8);
}

.widgets-content-btn-zoom0 {
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background-color: rgba(37,39,42,0.5);
	background-image: url(../images/btn-zoom0.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.widgets-content-main {
	flex: 1 1 0%;
	margin-bottom: 8px;
	min-height: 1px;
	height: 100%;
	margin-right: 5px;
	overflow-y: auto;
    overflow-x: hidden;
	/*added by dean: for svg text style */
	font-size : 1.4rem;
	fill : rgba(233,69,69,1);
}

.widgets-content-main::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(70,72,76,0.5);
	border-radius: 6px;
} 

.widgets-content-main::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(30,33,36,0.6);
}

.widgets-foot {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	height: 33px;
}

.widgets-foot-line {
	margin-left: 5%;
	width: 90%;
	height: 1px;
	background-color: rgba(62,65,70, 0.8);
}

.widgets-foot-btn-stretch {
	margin-right: 6px;
	height: 15px;
	/*background-image: url(../images/stretch-btn.svg);
	background-repeat: no-repeat;
	background-position: center center;*/
	text-align: center;
}

@keyframes btn-stretch-change {
	20% {
		d:path("M0.089,7.681l16.02-5.292l-2.364,5.282l2.228,5.593L0.089,7.681z");
		transform: translateX(-5px);
	}
	50% {
		d: path("M15.954,11.608L0.089,7.681l15.884-3.697");
		transform: translateX(-10px);
	}
	70% {
		d: path("M15.954,11.608L0.089,7.681l15.884-3.697");
		transform: translateX(-12px);
	}
}

.widgets-foot-btn-stretch:hover #btn-stretch-svg-path {
	animation: btn-stretch-change 1s cubic-bezier(0,.45,1,.2);
	animation-iteration-count: 1;
}

@keyframes btn-stretch-svg-wide {
	20% {
		width: 30px;
	}
	50% {
		width: 35px;
	}
	70% {
		width: 50px;
	}
}

.widgets-foot-btn-stretch:hover #btn-stretch-svg {
	animation: btn-stretch-svg-wide 1s cubic-bezier(0,.45,1,.2);
	animation-iteration-count: 1;
}


/*****left2 end*****/


/******main begin******/

.index-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
    overflow: hidden;
	background-color: #36393e;
}

.content-title-wrapper {
	flex-shrink: 0;
	display: flex;
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

/* added by Dean, add a div above : title-forward-back-bar and title-nav div */
.title-navigation-container {
	display: flex;
}

.title-forward-back-btns-bar {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.title-back-btn {	
	width: 20px;
	height: 20px;
	background-image: url(../images/title-back-btn3.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 3px;
}

.title-forward-btn {
	width: 20px;
	height: 20px;
	background-image: url(../images/title-forward-btn3.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.title-nav {
	display: flex;
	align-items: center;
	color: #ececec;
	font-size: 1.6rem;
	font-weight: 400;
}

.title-nav-current-name {
	font-size: 2.0rem;
	font-weight: 600;
	/* add by dean , for title image display*/
	display : flex;
	align-items: center;
	justify-content : center;
}

.title-nav-item {
	display : flex;
	align-items : center;
}

.title-nav-current-name span:first-child, .title-nav-current-name span:last-child, 
.title-nav-back-name span:first-child, .title-nav-back-name span:last-child {
	margin-left: 2px;
	margin-right: 2px;
}

.title-nav-arrow {
	width: 20px;
	height: 20px;
	background-image: url(../images/arrow1.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.content-main {
	margin: 0 30px;
}

.content-logs-btns-wrapper {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 30px;
	height: 40px;
	border-bottom: 1px solid hsla(0,0%,100%,.04);
}

.logs-btns-bar {
	display: flex;
	align-items: center;
	
}

.content-logs-btn {
	height: 26px;
	width: 26px;
	margin: 0 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.logs-save-btn {
	margin-left: 2px;
	background-image: url(../images/log-save-btn.svg);
	background-size: 21px;
}

.logs-delete-btn {
	background-image: url(../images/log-delete-btn.svg);
	background-size: 22px;
}

.logs-picture-btn {
	background-image: url(../images/log-pic-btn.svg);
	background-size: 23px;
}

.logs-single-tag-btn {
	background-image: url(../images/log-single-tag-btn.svg);
	background-size: 21px;
}

.logs-double-tag-btn {
	background-image: url(../images/log-double-tag-btn.svg);
	background-size: 26px;
}

.logs-btn-separate-line {
	height: 18px;
	width: 1px;
	margin: 0 6px;
	background-color: rgba(160,160,160, 0.4);
}

.logs-separate-line {
	width: 100%;
	height: 1px;
	background-color: #;
}

.logs-status-bar {
	display: flex;
	align-items: center;
}

.logs-status-icon {
	width: 25px;
	height: 25px;
	margin: 0 8px;
	background-image: url(../images/log-status-saved.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.content-log-inputbox-wrapper {
	flex-shrink: 0;
	margin: 0 30px;
	padding: 15px 0;
	border-bottom: 1px solid hsla(0,0%,100%,.04);
}

.content-log-inputbox {
	height: 44px;
	width: 100%;
	box-shadow: inset 0px 0px 1px rgba(90,90,90, 0.35);
	border-bottom: 1px solid rgba(86,86,86,0.6);
	background-color: #2f3136;
	overflow: hidden;
    font-size: 1.6rem;
    font-weight: 400;
    color: #ececec;
    padding: 12px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

.content-log-inputbox:empty:before {
    content: attr(data-placeholder);
    color: rgba(184,184,184, 0.3);
}
.content-log-inputbox:focus:before {
    content: none;
}

.content-logs-wrapper {
	margin: 0 10px 20px 30px;
	padding-right: 8px;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 1px;
	height: 100%;
	border-bottom: 1px solid hsla(0,0%,100%,.04);
}

.content-logs-wrapper div:first-child {
	border: 0;
}

.content-logs-wrapper::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(47,49,54,1);
	border-radius: 8px;
} 

.content-logs-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(30,33,36,0.6);
}

.content-log-item {
	margin-bottom: 10px;
	padding-bottom: 8px;
	padding-top: 18px;
	letter-spacing: 1px;
	border-top: 1px solid hsla(0,0%,100%,.04);
	/* added by dean : move from log-item-detail*/
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.8rem;
	color: #b8b8b8;
}


.log-item-tag-img {
	max-width: 1.6rem;
	max-height: 1.6rem;
	margin: 0px 2px;
	vertical-align: top;
}

.log-item-tag-words {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: 400;
}

.log-item-tag-words span:first-child {
	margin-left: 1px;
	margin-right: 1px;
}

.log-item-tag-words span:last-child {
	margin-left: 1px;
	##margin-right: 1px;
}

.log-item-detail {
	margin: 8px 1px 0;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.8rem;
	color: #b8b8b8;
}

/* change: from log-item-detail to content-log-item */
.content-log-item .log-item-tag-words {
	font-size: 1.4rem;
	line-height: 1.5rem;
	color : rgba(233,69,69,1);
	background : rgba(233,69,69,.1);
}

/* change: from log-item-detail to content-log-item */
.content-log-item p {
	display: inline-block;
	line-height: 1.4rem;
}

.log-item-title {
	font-size: 1.6rem;
	font-weight: 400;
	color: #ececec;
	line-height: 1.6rem;
	margin-bottom: 8px;
}

.log-item-title .log-item-tag-words {
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: 400;
}

.log-item-title p {
	display: inline-block;
	line-height: 1.6rem;
}

.log-item-files-wrapper {
	margin: 8px 1px 0;
}



/******main end******/

/** index page end**/
