body {
	background : #303138;
	color: white;
}

button {
	background : lightblue;
	margin: 0 20px;
	border-width : 0px;
	border-radius : 3px;
}

.program-node circle {
	//fill: #999;
}

.program-node text {
	font: 10px sans-serif;
	cursor : pointer;
}

.program-node--internal circle {
	fill: #555;
}

.program-node--internal text {
	text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
	cursor : pointer;
}

.program-link {
	fill: none;
	stroke: #9a9898;
	stroke-opacity: 0.4;
	stroke-width: 1.5px;
}
.zoom-button-container{
	display : flex;
}
.zoom-button-container > div{
	margin : 3px;
	cursor : pointer;
}


.raindrop .program-link {
	fill: none;
	stroke: #9a9898;
	stroke-opacity: 1;
	stroke-width: 1px;
}

.raindrop .program-node {
	fill: #9a9898;
	stroke: none;
	fill-opacity: 1;
	cursor : pointer;
}


.class1 .program-link {
	fill: none;
	stroke: #9a9898;
	stroke-opacity: 0.4;
	stroke-width: 1.5px;
}

.class1 .program-node {
	fill : rgb(233, 69, 69);
	cursor : pointer;
}


.star-map {
	background-color: #FFF;
}

.star-map .link {
	fill: none;
	stroke: #000;
	stroke-width: 4px;
	cursor: default;
}

.star-map .node {
	stroke-width: 1.5px;
	cursor: pointer;
}

.flower-map circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

.flower-map circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

.flower-map circle.node.collapsed {
  stroke: #555;
}

.flower-map .nodetext {
  fill: lightblue;
}

.flower-map line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.sharp .program-link {
	fill: none;
	stroke: white;
	stroke-opacity: 0.4;
	stroke-width: 1.5;
}

.sharp .program-node {
	fill : rgb(233, 69, 69);
	cursor : pointer;
}

.sharp .sharp-text {
	fill: #303139;
	alignment-baseline:middle;
	text-anchor:middle;
	font-size:14px;
}

.sharp-style1 .program-link {
	stroke-opacity: 1 !important;
	stroke-width: 1;
}

.nothing-mindmap .link{
	fill : none;
	stroke : gray;
}

.nothing-mindmap .node circle{
	fill : crimson;
	cursor : pointer;
}

.nothing-mindmap .node text{
	fill : gray;
	font-size : 14px;
	alignment-baseline : middle;
}

.nothing-mindmap .node .branch-text {
	alignment-baseline : baseline;
}

.nothing-mindmap .relative-node text{
	fill : gray;
}

.nothing-mindmap .relative-node circle{
	fill : crimson;
}

.nothing-mindmap .relative-link{
	fill : none;
	stroke : CADETBLUE;
}

.main-container {
	display : flex;
	flex-direction : row;
	background-color : #37393e;
}

.left-bar {
	width : 72px;
	height : 700px;
	background-color : #1f2125;
	padding-top : 167px;
	display : flex;
	flex-direction : column;
	align-items: center;
}

.left-bar button{
	width : 50px;
	height : 50px;
	border-radius: 50%;
	border : 1px dashed rgba(170,171,174,0.8);
	color : white;
	background-color : transparent;
	cursor : pointer;
	margin : 10px;
}

.left-bar button:focus{
	outline : none;
}

.left-bar .selected {
	border : 1px solid rgba(170,171,174,0.8);
}

.mindmap-bar {
	width : 100%;
	height : 700px;
	background-color : #303137;
	overflow : hidden;
}

.mindmap-bar-2 {
	width : 100%;
	height : 700px;
	background-image: url(./images/topo-test-bg2.png);
	overflow : hidden;
}


.menu .ring{
	fill : none;
	stroke-width : 20;
	stroke: crimson;
	stroke-opacity: 0.5;
	r : 100;
}

.menu .item circle{
	fill : crimson;
	fill-opacity : .8;
	stroke-width : 3;
	stroke: crimson;
	r : 20;
	cursor : pointer;
}

.menu .item text{
	fill : white;
	    alignment-baseline: middle;
		    text-anchor: middle;
	cursor : pointer;
}

.mask circle{
	r : 50;
	fill : lightblue !important;
	fill-opacity : .5;
	stroke : blue;
	stroke-opacity : .5;
}

.mask.right path{
	fill : powderblue !important;
	fill-opacity : .5;
	stroke : steelblue;
	stroke-opacity : .5;
}

.mask.top,.mask.bottom path{
	fill : lightgreen !important;
	fill-opacity : .5;
	stroke : forestgreen;
	stroke-opacity : .5;
}

.test-node-1-circle{
	/* can not set fill = none */
	fill : #2e3036 !important;
	stroke-width : 2;
	stroke-miterlimit : 10;
}

.test-2-node-circle {
	fill : #2F3136 !important;
	stroke-width : 2;
}

.test-node-1-text {
	fill : #A8AEB2 !important;
	font-family : PingFangSC-Regular-83pv-RKSJ-H;
}

.test-2-node-text {
	fill : #A8AEB2 !important;
	font-size : 11;
}

.test-1-link {
	stroke-miterlimit : 10 !important;
	stroke-width : 2 !important;
	stroke : #4D5259 !important;
	fill : none !important;
}

.test-2-link {
	stroke : #434549 ;
	stroke-width : 8 !important;
	stroke-miterlimit : 10 !important;
	fill : none !important;
}


.big-node-circle {
	fill : crimson ;
	stroke-width : 0;
}


.big-node-text {
	fill : #A8AEB2 !important;
	font-size : 12px !important;
	text-anchor : middle;
	font-family : Helvetica Neue,Helvetica,Arial,sans-serif;
}

.big-node-text-logo {
	fill : white !important;
	font-size : 20px !important;
	text-anchor : middle;
	alignment-baseline : middle;
	font-family : Helvetica Neue,Helvetica,Arial,sans-serif;
}


.big-link {
	stroke : #434549 ;
	stroke-width : 8 !important;
	stroke-miterlimit : 10 !important;
	fill : none !important;
}

.big-node-icon {

}

.big-node-circle-2 {
	fill : crimson ;
	fill-opacity : 0.5;
}


.big-node-text-2 {
	fill : #A8AEB2 !important;
	font-size : 12px !important;
	text-anchor : middle;
	font-family : Helvetica Neue,Helvetica,Arial,sans-serif;
}

.big-node-text-logo-2 {
	fill : white !important;
	font-size : 20px !important;
	text-anchor : middle;
	alignment-baseline : middle;
	font-family : Helvetica Neue,Helvetica,Arial,sans-serif;
}


.big-link-2 {
	stroke : #434549 ;
	stroke-width : 3 !important;
	stroke-miterlimit : 10 !important;
	fill : none !important;
}
